@using CookBeyondLimits.Web.ViewModels.Categories
@model CategoryViewModel
@{
    this.ViewData["Title"] = @Model.Name;
}

<h1 class="display-3">@this.ViewData["Title"]</h1>

<div class="catagory-post-area section-padding-100">
    <div class="container">
        <div class="row">
            @foreach (var recipe in Model.Recipes)
            {
                <!-- Post Area -->
                <div class="col-12 col-md-6 col-xl-6">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="#"><img src=@recipe.Photo alt="@recipe.Title" style="width:290px;height:290px;border:0;"></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <p class="post-tag"><i class="fas fa-calendar-alt"></i> @recipe.CreatedOn</p>
                            <a href="#" class="post-title">@recipe.Title</a>
                            <div class="post-meta">
                                <a href="#" class="post-author"><i class="fas fa-user-edit"></i> By @recipe.UserUserName</a>
                                <a href="#"><i class="fa fa-eye"></i> <strong>192</strong></a>
                                &nbsp;
                                <a href="#"><i class="fa fa-comments"></i> <strong>@recipe.ReviewsCount</strong></a>
                            </div>
                            <p>
                                @recipe.ShortDescription
                                <br>
                                <a href="#" class="text-secondary">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>